
{% extends 'headerPage.html' %}

{% block content%}

    <h2>Upload Image to Detect FLOOR</h2>

    <br>
    
    <form method="post" enctype="multipart/form-data" action="predictImage" >
    
 {% csrf_token %}
 
 <div class="col-md-4 col-sm-4"><label for="fname">Upload Image here:</label> </div> 
 <input name="filepath" type="file"><br><b>



 
<input type="submit" value="Submit" ></div> 


{% if pred_image %}

<h2 style="vertical-align:middle;margin:10px 400px">The predicted result :</h2>
<!--  <img style="vertical-align:middle;margin:10px 400px" width="600" height="400" src={{upimg}} alt="imagename2">  -->
 <img style="vertical-align:middle;margin:10px 400px" width="600" height="400" src={{pred_image}} alt="imagename2">
 {% endif %}

</form>
<br>


{% endblock %}